/* 
drug-purple:#9100ff;
no-drug-black:#000000;
tooltip-grey: #5d5c5c
*/

.board {
	width: 960px;
	margin: 10% auto;
	background-color: aliceblue;
	opacity: 0.8;
	box-shadow: 0px 0px 2px 2px #5d5c5c;
	text-align: center;
	padding: 20px;
}

h1, 
h3, 
p {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

ul {
	list-style-type: none;
}

circle {
	stroke: #5d5c5c;
	/* fill: #9100ff; */
}

circle:hover {
	stroke-width: 2.5;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 200px;
	height: 100px;
	padding: 5px;
	background: #5d5c5c;
	border: 1px solid black;
	color: #fff;
	border-radius: 8px;
	pointer-events: none;
	opacity: 0;
}
